In [1]:
import pandas as pd

# Data Preparation

In [2]:
data = pd.read_csv('/content/drive/MyDrive/MSIB/09. Evaluasi Model/train.csv') #memanggil data dengan format .csv
data.head() #menampilkan data 10 baris teratas

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data.shape

(891, 12)

In [4]:
#missing value data
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
data = data.drop(['Cabin','Name','Ticket'],axis=1) #axis=1 menandakan kolom
data = data.dropna()
data.shape

(712, 9)

In [6]:
#missing value data
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [8]:
data = pd.get_dummies(data) #numerisasi tipe data di kolom
data.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Age          712 non-null    float64
 4   SibSp        712 non-null    int64
 5   Parch        712 non-null    int64
 6   Fare         712 non-null    float64
 7   Sex_female   712 non-null    uint8
 8   Sex_male     712 non-null    uint8
 9   Embarked_C   712 non-null    uint8
 10  Embarked_Q   712 non-null    uint8
 11  Embarked_S   712 non-null    uint8
dtypes: float64(2), int64(5), uint8(5)
memory usage: 48.0 KB

In [10]:
#pisahkan target dari data
y = data['Survived'] #target
x = data.drop(['Survived'],axis=1) #predictor/fitur

In [11]:
x.shape, y.shape

((712, 11), (712,))

In [12]:
# pisahkan data train dan test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.8)

In [13]:
x_train.shape, y_train.shape

((569, 11), (569,))

# Modelling

In [14]:
from sklearn.neighbors import KNeighborsClassifier #memanggil algoritma KNN

In [15]:
model = KNeighborsClassifier(n_neighbors=7) #define parameter
model.fit(x_train, y_train) #learning process

KNeighborsClassifier(n_neighbors=7)

# Evaluasi Model

In [20]:
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report #memanggil mertik evaluasi

In [17]:
x_test.shape, y_test.shape

((143, 11), (143,))

In [22]:
prediksi = model.predict(x_test) #prediksi kelas dari masing2 data
print("akurasi:",accuracy_score(y_test,prediksi)) #evaluasi prediksi vs groundtruth

akurasi: 0.6223776223776224

In [26]:
print("confusion matrix:\n",confusion_matrix(y_test,prediksi))

confusion matrix:
 [[67 16]
 [38 22]]

In [27]:
print(classification_report(y_test,prediksi))

              precision    recall  f1-score   support

           0       0.64      0.81      0.71        83
           1       0.58      0.37      0.45        60

    accuracy                           0.62       143
   macro avg       0.61      0.59      0.58       143
weighted avg       0.61      0.62      0.60       143

In [19]:
# tunning hyperparameter
param = [3,5,7,9]
for p in param:
  model = KNeighborsClassifier(n_neighbors=p) #define parameter
  model.fit(x_train, y_train) #learning process
  prediksi = model.predict(x_test) #prediksi kelas dari masing2 data
  hasil = accuracy_score(y_test,prediksi) #evaluasi prediksi vs groundtruth
  print(hasil)

0.6293706293706294
0.6643356643356644
0.6783216783216783
0.6223776223776224